<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="p:domain_verify" content="f9df3a19a563b6c62984a20385829ec1"/>
    <link rel="stylesheet" href="{% static 'dist/app.css' %}?v=1.3">
    <link rel="stylesheet" href="{% static 'dist/css/all.min.css' %}">
    {% include 'meta/meta.html' %}

    {% if is_debug == False %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53GDRWN');</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '477430599516514');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=477430599516514&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    {% endif %}
</head>
<body>
    {% if is_debug == False %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53GDRWN"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% include './includes/navbar.html' %}

    <div id="page">
        {% block content %}
        {% endblock %}
    </div>

    {% include './includes/footer.html' %}
    <script type="text/javascript" src="{% static 'dist/app.js' %}?v=1.3"></script>
</body>
</html>
