{% extends './base.html' %}

{% block content %}
{% load static %}

<div class="hero is-medium is-light">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-2 is-size-4-mobile has-text-weight-bold">
                {{ theme.title }}
            </h1>
            <figure class="image">
                <img src="{{ theme.image.url }}" alt="{{ theme.title }}">
            </figure>
        </div>
    </div>
</div>
<div class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h2 class="title is-3 has-text-weight-bold">Checkout these other website designs</h2>
        </div>
        <hr>
        {% include './includes/themes.html' %}
    </div>
</div>
<script>
    try{
        fbq('track', 'ViewContent');
    } catch (e){
        console.log(e)
    }
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e1db9ecbbd41b21"></script>
{% endblock %}
