{% extends './base.html' %}

{% block content %}
{% load static i18n humanize %}

    <div class="section is-medium is-light">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="box">
                        <h1 class="title is-3 has-text-weight-bold">Order Details</h1>
                        <hr>
                        <div class="columns">
                            <div class="column">
                                <figure class="image">
                                    <img src="{{ order.theme.image.url }}" alt="{{ order.theme.title }}">
                                </figure>
                            </div>
                            <div class="column">
                                <h4 class="title is-3 has-text-weight-bold is-marginless">{{ order.package.title }} Package</h4>
                                <ul>
                                    <li><span class="icon"><i class="fas fa-globe"></i></span> <span>{{ order.domain_name }}</span></li>
                                    <li><span class="icon"><i class="fas fa-wallet"></i></span> <span>N{{ order.amount|intcomma }}</span></li>
                                </ul>
                                <hr>
                                {% if order.payment_type == 'online' %}
                                    <form action="{{ order.get_absolute_url }}" method="post">
                                        {% csrf_token %}
                                        <div class="field">
                                            <button class="button is-primary is-fullwidth" type="submit">Pay now</button>
                                        </div>
                                        <br>
                                        <figure class="image paystack">
                                            <img src="{% static 'images/paystack-ii.png' %}" alt="Payment processed and secured by Paystack">
                                        </figure>
                                    </form>
                                {% else %}
                                    <p>You have opted for the <strong>Bank Transfer</strong> payment option. Please find payment details below</p>
                                    <hr>
                                    <div class="columns is-mobile is-aligned-center">
                                        <div class="column is-3">
                                            <figure class="image">
                                                <img src="{% static 'images/gtbank-logo.png' %}" alt="Guaranty Trust Bank">
                                            </figure>
                                        </div>
                                        <div class="column is-9">
                                            <strong>
                                                Clickmedia Solutions <br>
                                                0127051573
                                            </strong>
                                        </div>
                                    </div>
                                    <hr>
                                    <p>Use the button below to send us a mail once your transfer is successful</p>
                                    <div>
                                        <div class="buttons">
                                            <a href="mailto:web@webfishr.com?subject=Order+Paid" class="button is-link">Confirm transfer</a>
                                            <a href="{% url 'dashboard' %}" class="button is-white">My account</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      fbq('track', 'Purchase');
    </script>
{% endblock %}
