{% extends './base.html' %}

{% block content %}
{% load static i18n %}
    {{ wizard.form.media }}
    <div class="section is-medium">
        <div class="container">

            <!-- <hr> -->
            {% include './includes/order_steps.html' with wizard=wizard %}

            <form action="" method="post" id="profile-details" novalidate>
                {% csrf_token %}
                {{ wizard.management_form }}

                <div class="columns is-centered profile-details">
                    <div class="column is-7">
                        <h2 class="title is-3 is-size-4-mobile has-text-weight-bold has-text-centered">Your website is almost ready</h2>
                        <p class="subtitle has-text-centered">Please select your preferred payment option</p>
                        <hr>
                        {{ wizard.form.type }}
                    </div>
                </div>
                <hr>
                {% include './includes/order_steps_buttons.html' with wizard=wizard %}
            </form>
        </div>
    </div>
    <script>
      fbq('track', 'InitiateCheckout');
    </script>
{% endblock %}
