{% extends './base.html' %}

{% block content %}
{% load static %}
<div class="hero" id="themes">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-aligned-center">
                <div class="column is-6">
                    <h1 class="title is-2 has-text-weight-bold">
                        Affordable website design packages for everyone.
                    </h1>
                    <p class="">
                        You won't find these amazing deals anywhere else. Choose a package today and get your brand new website in 3 working days.
                    </p>
                </div>
                <div class="column is-5 is-offset-1">
                    <figure class="image">
                        <img src="{% static 'images/pricing.png' %}" alt="Affordable website design packages for everyone">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section is-light">
    <div class="container">
        {% include './includes/packages.html' %}
    </div>
</div>
<section class="section is-medium">
    <div class="container">
        <div class="columns is-aligned-center">
            <div class="column is-4">
                <figure class="image">
                    <img src="{% static 'images/support.png' %}" alt="webfishr support">
                </figure>
            </div>
            <div class="column is-6 is-offset-2">
                <h2 class="title is-2 has-text-weight-light">Not sure which website package is best for your needs?</h2>
                <p>We will love to help you out. <a href="mailto:web@webfishr.com?subject=I+need+help+choosing+the+right+package" class="has-text-weight-bold">Click here</a> to send us a mail or click below to chat with us.</p>
                <p>
                    <a href="javascript:void(Tawk_API.toggle())" class="button is-primary is-rounded">
                        <span class="icon"><i class="fas fa-comments"></i></span>
                        <span>Chat with us</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<script>
  fbq('track', 'ViewContent');
</script>
{% endblock %}
