{% extends './base.html' %}

{% block content %}
{% load static %}
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-aligned-center is-centered">
                <div class="column is-6 has-text-centered">
                    <div class="has-text-primary" style="margin-bottom: 1em;">
                        <i class="fas fa-check-circle fa-5x"></i>
                    </div>
                    <h1 class="title is-3 is-size-3-mobile has-text-weight-bold">
                        Email subscription successful
                    </h1>
                    <p class="subtitle">
                        Please check your email and click on the activation link to receive our goodies.
                    </p>
                    <p>
                        <a href="{% url 'index' %}" class="button is-primary is-rounded">
                            <span class="icon"><i class="fas fa-arrow-left"></i></span>
                            <span>Go back home</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
