{% extends './base.html' %}

{% block content %}
{% load static %}
<div class="hero" id="themes">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-aligned-center">
                <div class="column is-6">
                    <h1 class="title is-2 has-text-weight-bold">
                        Make your online presence beautiful with our custom website design.
                    </h1>
                    <p>
                        Our beautiful website design collection are custom-made with you in mind giving you the right style for your online presence.
                    </p>
                    <p>
                        Choose any of our professionally designed website theme for your new website.
                    </p>
                </div>
                <div class="column is-6">
                    <figure class="image">
                        <img src="{% static 'images/hero-main.png' %}" alt="Make your online presence beautiful">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section is-light">
    <div class="container">
        {% include './includes/themes.html' %}
    </div>
</div>
<section class="section is-medium">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-9">
                <div class="columns is-aligned-center is-mobile">
                    <div class="column is-4">
                        <figure class="image">
                            <img src="{% static 'images/support.png' %}" alt="webfishr support">
                        </figure>
                    </div>
                    <div class="column is-8">
                        <h2 class="title is-3 has-text-weight-bold is-size-4-mobile">Not sure which website design is best for your needs?</h2>
                        <p>We will love to help you out. <a href="mailto:web@webfishr.com?subject=I+need+help+choosing+the+right+theme" class="has-text-weight-bold">Click here</a> to send us a mail or click below to chat with us.</p>
                        <p>
                            <a href="javascript:void(Tawk_API.toggle())" class="button is-primary is-rounded">
                                <span class="icon"><i class="fas fa-comments"></i></span>
                                <span>Chat with us</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    try{
        fbq('track', 'ViewContent');
    } catch (e){
        console.log(e)
    }
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e1db9ecbbd41b21"></script>
{% endblock %}
