{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="title is-3 is-size-4-mobile has-text-weight-bold">{% trans "Login" %}</h1>

{% get_providers as socialaccount_providers %}



<form class="login disable-on-submit" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

  <div class="field">
      <label for="{{ form.login.id_for_label }}">Email address</label>
      {{ form.login }}
      {% if form.login.errors %}
          <span class="help is-danger">{{ form.login.errors }}</span>
      {% endif %}
  </div>
  <div class="field">
      <label for="{{ form.password.id_for_label }}">Password</label>
      {{ form.password }}
      {% if form.password.errors %}
          <span class="help is-danger">{{ form.password.errors }}</span>
      {% endif %}
  </div>
  <div class="field">
      {{ form.captcha }}
      {% if form.captcha.errors %}
          <span class="help is-danger">{{ form.captcha.errors }}</span>
      {% endif %}
  </div>
  <div class="field">
      {{ form.remember_me }}
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="field">
      <button class="button is-primary is-fullwidth is-rounded" type="submit">{% trans "Login" %}</button>
  </div>
  <hr>
  <p>Forgot password? <a class="has-text-weight-bold" href="{% url 'account_reset_password' %}">{% trans "Click here" %}</a></p>
</form>

{% if socialaccount_providers %}
<!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->

<div class="socialaccount_ballot">
    <hr>
    <h2 class="login-or title is-6">{% trans 'or login with your social media account' %}</h2>
    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
</div>
<hr>
<p>
    Don't have an account? <a href="{% url 'account_signup' %}"><span class="has-text-weight-bold">Create an account</span></a>
</p>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>
    Don't have an account? <a href="{% url 'account_signup' %}"><span class="has-text-weight-bold">Create an account</span></a>
</p>
{% endif %}

{% endblock %}
