<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 403!</title>
    <style>
        body{
            background: #a7dcd6;
            font-family: Tahoma;
        }
        *{
            padding: 0;
            margin: 0;
        }
        .error{
            padding: 10em 1em;
            margin: 1em;
            background: #fff;
            text-align: center;
        }
        .title{
            color: #f00;
            margin-bottom: 10px;
        }
        p{
            opacity: .5;
        }
    </style>
</head>
<body>
    <div class="error">
        <h1 class="title is-1 has-text-danger">Access Denied!</h1>
        <p class="subtitle">You do not have permission to access this page</p>
    </div>
</body>
</html>
