{% load static %}
<section class="is-dark section" id="newsletters">
    <div class="container">
        <div class="columns is-aligned-center">
            <div class="column is-3 is-offset-1">
                <figure class="image newsletter">
                    <img src="{% static 'images/newsletter-2.png' %}" alt="Enjoy amazing discounts">
                </figure>
            </div>
            <div class="column is-6 is-offset-1">
                {% include './newsletter_form.html' %}
            </div>
        </div>
    </div>
</section>
<footer id="site-footer" class="footer">
    <div class="container">
        <div class="columns">


            <div class="column">
                <h4 class="title is-4 has-text-white has-text-weight-bold">Website Design</h4>
                <ul class="menu">
                    <li><a href="{% url 'themes' %}?utm_source=footer">Browse Themes</a></li>
                    <li><a href="{% url 'pricing' %}?utm_source=footer">Pricing</a></li>
                    <li><a href="{% url 'signup' %}?utm_source=footer">Request Website</a></li>
                    <li><a href="{% url 'faq' %}?utm_source=footer">Frequently Asked Questions</a></li>
                </ul>
            </div>
            <div class="column">
                <h4 class="title is-4 has-text-white has-text-weight-bold">Resource</h4>
                <ul class="menu">
                    <li><a href="{% url 'blogs' %}?utm_source=footer">Blog</a></li>
                    <li><a href="{% url 'career' %}?utm_source=footer">Career</a></li>
                    <!-- <li><a href="{% url 'signup' %}?utm_source=footer">News &amp; Updates</a></li> -->
                </ul>
            </div>
            <div class="column">
                <h4 class="title is-4 has-text-white has-text-weight-bold">Company</h4>
                <ul class="menu">
                    <li><a href="{% url 'about' %}?utm_source=footer">About Us</a></li>
                    <li><a href="{% url 'how-it-works' %}?utm_source=footer">How it works</a></li>
                    <li><a href="{% url 'contact' %}?utm_source=footer">Contact</a></li>
                    <li><a href="{% url 'policy' %}?utm_source=footer">Privacy Policy</a></li>
                    <li><a href="{% url 'terms' %}?utm_source=footer">Terms &amp; Condition</a></li>
                </ul>
            </div>
            <div class="column">
                <h4 class="title is-4 has-text-white has-text-weight-bold">Connect</h4>
                <p>We know you might have lots of question so feel free to reach out to us.</p>
                <div class="social-icons buttons">
                    <a href="mailto:web@webfishr.com" class="button is-warning is-rounded is-small" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="https://instagram.com/webfishrng" class="button is-warning is-rounded is-small" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://facebook.com/webfishr" class="button is-warning is-rounded is-small" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <!-- <a href="#" class="button is-warning is-rounded is-small"><i class="fab fa-twitter"></i></a> -->
                </div>
            </div>
        </div>
        <div class="credits has-text-centered">
            &copy; Copyright 2019 - All Rights Reserved | <a href="{% url 'index' %}">WebFishr</a> is an online service provided by <a href="http://clickmedia.com.ng" target="_blank">Clickmedia Solutions</a> | <a href="https://www.freepik.com/">Free vectors by freepik</a>
        </div>
    </div>
</footer>
<div class="modal" id="newsletter-modal">
    <div class="modal-background"></div>
    <div class="modal-body is-small">
        <div class="box">
            <figure class="image newsletter">
                <img src="{% static 'images/newsletter-2.png' %}" alt="Enjoy amazing discounts">
            </figure>
            <hr>
            <div class="modal-form-wrapper"></div>
            <span class="help">We do not spam or share your personal details.</span>
        </div>
    </div>
    <button class="modal-close is-large close-modal"></button>
</div>
{% if is_debug == False %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5e25be268e78b86ed8aa3390/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156096583-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156096583-1');
    </script>

{% endif %}
