<div id="newsletter-wrapper">
    <h3 class="title is-3 has-text-weight-bold is-size-4-mobile">
        Learn to grow your online presence quickly.
    </h3>
    <p class="subtitle">Join our monthly newsletter</p>
    {% if email_form %}
    <form action="{% url 'subscribe-email' %}" method="post" id="email-subscription-footer">
        {% csrf_token %}
        <div class="field has-addons">
            <p class="control">
                {{ email_form.email }}
            </p>
            <p class="control">
                <button class="button is-primary is-rounded">Subscribe</button>
            </p>
        </div>
    </form>
    {% endif %}
</div>
