<ul class="steps has-content-centered is-small has-gaps is-narrow is-centered is-primary">
    <li class="steps-segment {% if wizard.steps.step1 == 1 %} is-active {% endif %}">
        <span class="steps-marker"><i class="fas fa-laptop"></i></span>
        <div class="steps-content">
            <p class="is-small">Design</p>
        </div>
    </li>
    <li class="steps-segment{% if wizard.steps.step1 == 2 %} is-active {% endif %}">
        <span class="steps-marker"><i class="fas fa-box"></i></span>
        <div class="steps-content">
            <p class="is-small">Package</p>
        </div>
    </li>
    <li class="steps-segment{% if wizard.steps.step1 == 3 %} is-active {% endif %}">
        <span class="steps-marker"><i class="fas fa-user"></i></span>
        <div class="steps-content">
            <p class="is-small">Domain &amp; Details</p>
        </div>
    </li>
    <li class="steps-segment{% if wizard.steps.step1 == 4 %} is-active {% endif %}">
        <span class="steps-marker"><i class="fas fa-shopping-bag"></i></span>
        <div class="steps-content">
            <p class="is-small">Checkout</p>
        </div>
    </li>
</ul>
