{% load i18n %}
<div class="level is-mobile step-action-links">
    <div class="level-left">
        <div class="level-item">
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" class="button is-white" value="{{ wizard.steps.prev }}">
                <span class="icon"><i class="fas fa-arrow-left"></i></span><span>{% trans "Prev" %}</span>
            </button>
            {% endif %}
        </div>
    </div>
    <div class="level-item has-text-centered step-counter">
        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    </div>
    <div class="level-right">
        <div class="level-item">
            <button type="submit" class="button is-primary is-rounded">
                <span>
                    {% if wizard.steps.step1 == 1 %}
                        {% trans "Choose Package" %}
                    {% elif wizard.steps.step1 == 2 %}
                        {% trans "Setup Profile" %}
                    {% elif wizard.steps.step1 == 3 %}
                        {% trans "Checkout" %}
                    {% elif wizard.steps.step1 == 4 %}
                        {% trans "Finish" %}
                    {% else %}
                    {% endif %}
                </span>
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
            </button>
        </div>
    </div>
</div>
