{% if packages %}
    {% load humanize discount get_pricing %}
    <div class="columns is-multiline packages">
    {% for package in packages %}
        <div class="column package is-4">
            <div class="box">
                <header>
                    <h2 class="title is-3">{{ package.title }}</h2>
                    <p>{{ package.description }}</p>
                    <div class="price">
                        {% if package.regular_price %}
                            <del class="regular-price">Was {{ package|pricing_regular:request }}</del>
                        {% endif %}
                        <span class="sale-price">{{ package|pricing:request }}</span>
                        <div class="discount">
                            <span class="discount_tag">
                                <span>
                                    <div>{{ package|package_discount:request }}</div>
                                    <div>OFF</div>
                                </span>
                            </span>
                        </div>
                    </div>
                </header>
                <!-- <hr> -->
                {% if package.features %}
                    <ul class="features">
                        {% for feature in package.features.all %}
                            <li>{{ feature.title }}</li>
                        {% endfor %}
                        {% if request.location == 'NG' %}
                            <li class="has-text-weight-bold">Renews at N25,000 Yearly</li>
                        {% else %}
                            <li class="has-text-weight-bold">Renews at $75 Yearly</li>
                        {% endif %}
                    </ul>
                {% endif %}
                <div class="action">
                    <a href="{% url 'signup' %}?package={{ package.id }}" class="button is-success is-rounded is-fullwidth">Order Package</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
