<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>{% block head_title %}{% endblock %}</title>
        {% block extra_head %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'dist/app.css' %}">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    </head>
    <body>
        <div id="account" class="hero is-fullheight is-light">
            <div class="hero-body">
                <div class="container">
                    <div class="has-text-centered">
                        <a href="{% url 'index' %}" id="logo">
                            <img src="{% static 'images/webfishr-logo.png' %}" alt="{{ request.site }}">
                        </a>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-6">

                            <div class="box">
                                {% block body %}

                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="notification">{{message}}</div>
                                    {% endfor %}
                                {% endif %}

                                {% block content %}
                                {% endblock %}
                                {% endblock %}
                                {% block extra_body %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'socialapp/app.js' %}" async>
    </body>
</html>
