{% extends './base.html' %}
{% load humanize %}
{% block content %}
    <h1>Hello {{ order.user.first_name }},</h1>
    <h3>Your order was successful.</h3>
    <p>You are just one step away from enjoying our professional online services.</p>
    <p>Your order details are as follows;</p>
    <ul>
        <li>Package: {{ order.package.title }} Package</li>
        <li>Amount: {{ order.currency }}{{ order.amount|intcomma }}</li>
    </ul>
    <p><a href="http://{{ link }}" class="btn btn-primary" style="display: inline-block; padding: 7px 2em; background: #65bf78; color: #fff; border-radius: 48px; text-decoration: none;">Make payment</a></p>
    <p>Your project commences once your payment is verified.</p>
    <br>
    <strong>BR.</strong>
    <p>
        <strong>{{ current_site.name }} Team</strong>
    </p>
{% endblock %}
